* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background-color: rgb(4, 20, 26);
  color: black;
}

.card {
  margin-top: 30px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 40px;
  width: 300px;
  transition: transform 0.2s;
}

.card .name {
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #311847;
}

.card .card-para {
  margin-top: 20px;
}

.card .card-para p {
  font-size: 16px;
}

.card p strong {
  color: #311847;
}

.card .card-para .details-btn {
  margin: 15px 0;
  padding: 8px 18px;
  background-color: transparent;
  color: #311847;
  border: 1px solid #311847;
  transition: 0.4s ease all;
}

.card .card-para .details-btn:hover {
  background-color: #311847;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.card p:last-child {
  font-weight: bold;
  margin-top: 10px;
}
